<form (ngSubmit)="validateUser()">
    <div class="card-header bg-success text-white">LOGIN<div>{{ errorMessage }}</div>
    </div>
    <div class="card-body">

        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
                [(ngModel)]="newUser.userName">
        </div>
        <div class="mb-3 mt-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
                required #myPassword="ngModel" [(ngModel)]="newUser.userPassword">
            <div *ngIf="!myPassword.valid" class="small text-danger">*Password is required!</div>
        </div>

        <div class="card-footer bg-success">
            <button type="submit" class="btn btn-light">
                LOGIN
            </button>
        </div>
    </div>

</form>