<!-- <p>view-employees works!</p> -->
<div class="container">
    <h3>Employee Information</h3>

    <div>
        <!-- <div class="card-body">
            <form>
                <div class="mb-3 mt-3">
                    <label for="userId" class="form-label">User ID:</label>
                    <input type="text" class="form-control" id="userId" name="userId" [(ngModel)]="allEmployee.userID">
                </div>
                <div class="mb-3 mt-3">
                    <label for="userName" class="form-label">User Name:</label>
                    <input type="text" class="form-control" id="userName" name="userName"
                        [(ngModel)]="allEmployee.userName">
                </div>
                <div class="mb-3 mt-3">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                        [(ngModel)]="allEmployee.firstName">
                </div>
                <div class="mb-3 mt-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                        [(ngModel)]="allEmployee.lastName">
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="allEmployee.email">
                </div>

            </form>
        </div> -->
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">UsersId</th>
                        <th scope="col">UsersName</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                    <!-- users_id | users_name | password | first_name | last_name |     email     | users_role_id -->
                </thead>
                <tbody>
                    <tr *ngFor="let user of allEmployee">
                        <td>{{user.userID}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td><button type="button" class="btn btn-link" (click)="showRequests(user.userID)">View
                                Requests</button></td>


                        <!-- <td>{{reimbursements.reimbursementsID}}</td>
            <td>{{reimbursements.reimbursementsAmount}}</td>
            <td>{{reimbursements.reimbursementsSubmitTime}}</td>
            <td>{{reimbursements.reimbursementsResolvedTime}}</td>
            <td>{{reimbursements.reimbursementsDescription}</td>
            <td>{{reimbursements.reimbursementsApplicantID}}</td>
            <td>{{reimbursements.reimbursementsStatusID}}</td> -->
                    </tr>
                    <!-- 1 | a          | 1111     | a          | b         | abu@gmail.com |             1 -->
                </tbody>
            </table>
        </div>